body{
  width: 50%;
  margin: 0 auto;
  background-color: rgb(25, 24, 24);
}

header{
  text-align: center;
}

header h1{
  font-size: 80px;
  /* color: rgb(30, 30, 102); */
  color: white;
  font-weight: 600;
}

input{
  width: 100%;
  color: rgb(30, 30, 102) ;
  font-size: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid  rgb(30, 30, 102) ;
  padding: 5px;
}

.task {
  background-color: #34495e;
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span {
  color: #FFFFFF;
}

.icon {
  float: right;
  margin-right: 20px;
 
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.button {
  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: #6c6777;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top: 15px;
}

.button.selected {
  color: #FFF;
  background-color: #6c6777;
}

.button.clear {
  float: right;
  color: #FFF;
  background-color: #ee1630;
  width: 170px;
}

.btn{
  padding: 6px;
  width: 80px;
  border-radius: 50px;
  border: 1px solid red;
  color: red;
}

.btn-u{
  padding: 6px;
  width: 80px;
  border-radius: 50px;
  border: 1px solid green;
  color: green;

}